<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      body {
        background-color: #e0e0e0;
      }
      body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("static/images/Background.png");
        background-size: cover;
        filter: blur(5px);
        z-index: -1;
      }
      .card {
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #e0e0e0;
      }
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      .dropdown-toggle {
        width: 100%;
        margin-top: 15px;
      }
      .form-group {
        margin-top: 1px;
        margin-bottom: 30px;
      }
      #submitButton {
        margin-top: 20px;
        width: 100%;
      }
    </style>
    <title>Street Assist</title>
  </head>
  <body>
    <div class="container">
      <div class="card">
      <div class="text-center mb-5">
        <img src="static\images\Street_Assist.png" alt="logo" class="img-fluid">
      </div>
      <form method="post" action="/information/..">
        <div class="form-group">
          <input
          type="text"
          class="form-control"
          id="cityInput"
          placeholder="Enter City Name"
          name="city"
        />
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="stateDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
              Select State
            </button>
            <ul class="dropdown-menu" aria-labelledby="stateDropdown">
              <li><a class="dropdown-item" data-value="AL" name="state">(AL) Alabama</a></li>
              <li><a class="dropdown-item" data-value="AK" name="state">(AK) Alaska</a></li>
              <li><a class="dropdown-item" data-value="AZ" name="state">(AZ) Arizona</a></li>
              <li><a class="dropdown-item" data-value="AR" name="state">(AR) Arkansas</a></li>
              <li><a class="dropdown-item" data-value="CA" name="state">(CA) California</a></li>
              <li><a class="dropdown-item" data-value="CO" name="state">(CO) Colorado</a></li>
              <li><a class="dropdown-item" data-value="CT" name="state">(CT) Connecticut</a></li>
              <li><a class="dropdown-item" data-value="DE" name="state">(DE) Delaware</a></li>
              <li><a class="dropdown-item" data-value="DC" name="state">(DC) District of Columbia</a></li>
              <li><a class="dropdown-item" data-value="FL" name="state">(FL) Florida</a></li>
              <li><a class="dropdown-item" data-value="GA" name="state">(GA) Georgia</a></li>
              <li><a class="dropdown-item" data-value="HI" name="state">(HI) Hawaii</a></li>
              <li><a class="dropdown-item" data-value="ID" name="state">(ID) Idaho</a></li>
              <li><a class="dropdown-item" data-value="IL" name="state">(IL) Illinois</a></li>
              <li><a class="dropdown-item" data-value="IN" name="state">(IN) Indiana</a></li>
              <li><a class="dropdown-item" data-value="IA" name="state">(IA) Iowa</a></li>
              <li><a class="dropdown-item" data-value="KS" name="state">(KS) Kansas</a></li>
              <li><a class="dropdown-item" data-value="KY" name="state">(KY) Kentucky</a></li>
              <li><a class="dropdown-item" data-value="LA" name="state">(LA) Louisiana</a></li>
              <li><a class="dropdown-item" data-value="ME" name="state">(ME) Maine</a></li>
              <li><a class="dropdown-item" data-value="MD" name="state">(MD) Maryland</a></li>
              <li><a class="dropdown-item" data-value="MA" name="state">(MA) Massachusetts</a></li>
              <li><a class="dropdown-item" data-value="MI" name="state">(MI) Michigan</a></li>
              <li><a class="dropdown-item" data-value="MN" name="state">(MN) Minnesota</a></li>
              <li><a class="dropdown-item" data-value="MS" name="state">(MS) Mississippi</a></li>
              <li><a class="dropdown-item" data-value="MO" name="state">(MO) Missouri</a></li>
              <li><a class="dropdown-item" data-value="MT" name="state">(MT) Montana</a></li>
              <li><a class="dropdown-item" data-value="NE" name="state">(NE) Nebraska</a></li>
              <li><a class="dropdown-item" data-value="NV" name="state">(NV) Nevada</a></li>
              <li><a class="dropdown-item" data-value="NH" name="state">(NH) New Hampshire</a></li>
              <li><a class="dropdown-item" data-value="NJ" name="state">(NJ) New Jersey</a></li>
              <li><a class="dropdown-item" data-value="NM" name="state">(NM) New Mexico</a></li>
              <li><a class="dropdown-item" data-value="NY" name="state">(NY) New York</a></li>          
              <li><a class="dropdown-item" data-value="NC" name="state">(NC) North Carolina</a></li>
              <li><a class="dropdown-item" data-value="ND" name="state">(ND) North Dakota</a></li>
              <li><a class="dropdown-item" data-value="OH" name="state">(OH) Ohio</a></li>
              <li><a class="dropdown-item" data-value="OK" name="state">(OK) Oklahoma</a></li>
              <li><a class="dropdown-item" data-value="OR" name="state">(OR) Oregon</a></li>
              <li><a class="dropdown-item" data-value="PA" name="state">(PA) Pennsylvania</a></li>
              <li><a class="dropdown-item" data-value="RI" name="state">(RI) Rhode Island</a></li>
              <li><a class="dropdown-item" data-value="SC" name="state">(SC) South Carolina</a></li>
              <li><a class="dropdown-item" data-value="SD" name="state">(SD) South Dakota</a></li>
              <li><a class="dropdown-item" data-value="TN" name="state">(TN) Tennessee</a></li>
              <li><a class="dropdown-item" data-value="TX" name="state">(TX) Texas</a></li>
              <li><a class="dropdown-item" data-value="UT" name="state">(UT) Utah</a></li>
              <li><a class="dropdown-item" data-value="VT" name="state">(VT) Vermont</a></li>
              <li><a class="dropdown-item" data-value="VA" name="state">(VA) Virginia</a></li>
              <li><a class="dropdown-item" data-value="WA" name="state">(WA) Washington</a></li>
              <li><a class="dropdown-item" data-value="WV" name="state">(WV) West Virginia</a></li>
              <li><a class="dropdown-item" data-value="WI" name="state">(WI) Wisconsin</a></li>
              <li><a class="dropdown-item" data-value="WY" name="state">(WY) Wyoming</a></li>
            </ul>
            <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div> 
    <script type="text/javascript" src="../static/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>
