<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      body {
        background-color: #e0e0e0;
      }
    </style>
    <title>Street Assist</title>
  </head>
  <body>
    <div class="container my-5">
      <h1 class="text-center">Street Assist</h1>
      <form method="post" action="/">
        <div class="form-group">
          <label for="stateDropdown">States</label>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="stateDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
              Select State
            </button>
            <ul class="dropdown-menu" aria-labelledby="stateDropdown">
              <li><a class="dropdown-item" data-value="AL">(AL) Alabama</a></li>
              <li><a class="dropdown-item" data-value="AK">(AK) Alaska</a></li>
              <li><a class="dropdown-item" data-value="AZ">(AZ) Arizona</a></li>
              <li><a class="dropdown-item" data-value="AR">(AR) Arkansas</a></li>
              <li><a class="dropdown-item" data-value="CA">(CA) California</a></li>
              <li><a class="dropdown-item" data-value="CO">(CO) Colorado</a></li>
              <li><a class="dropdown-item" data-value="CT">(CT) Connecticut</a></li>
              <li><a class="dropdown-item" data-value="DE">(DE) Delaware</a></li>
              <li><a class="dropdown-item" data-value="DC">(DC) District of Columbia</a></li>
              <li><a class="dropdown-item" data-value="FL">(FL) Florida</a></li>
              <li><a class="dropdown-item" data-value="GA">(GA) Georgia</a></li>
              <li><a class="dropdown-item" data-value="HI">(HI) Hawaii</a></li>
              <li><a class="dropdown-item" data-value="ID">(ID) Idaho</a></li>
              <li><a class="dropdown-item" data-value="IL">(IL) Illinois</a></li>
              <li><a class="dropdown-item" data-value="IN">(IN) Indiana</a></li>
              <li><a class="dropdown-item" data-value="IA">(IA) Iowa</a></li>
              <li><a class="dropdown-item" data-value="KS">(KS) Kansas</a></li>
              <li><a class="dropdown-item" data-value="KY">(KY) Kentucky</a></li>
              <li><a class="dropdown-item" data-value="LA">(LA) Louisiana</a></li>
              <li><a class="dropdown-item" data-value="ME">(ME) Maine</a></li>
              <li><a class="dropdown-item" data-value="MD">(MD) Maryland</a></li>
              <li><a class="dropdown-item" data-value="MA">(MA) Massachusetts</a></li>
              <li><a class="dropdown-item" data-value="MI">(MI) Michigan</a></li>
              <li><a class="dropdown-item" data-value="MN">(MN) Minnesota</a></li>
              <li><a class="dropdown-item" data-value="MS">(MS) Mississippi</a></li>
              <li><a class="dropdown-item" data-value="MO">(MO) Missouri</a></li>
              <li><a class="dropdown-item" data-value="MT">(MT) Montana</a></li>
              <li><a class="dropdown-item" data-value="NE">(NE) Nebraska</a></li>
              <li><a class="dropdown-item" data-value="NV">(NV) Nevada</a></li>
              <li><a class="dropdown-item" data-value="NH">(NH) New Hampshire</a></li>
              <li><a class="dropdown-item" data-value="NJ">(NJ) New Jersey</a></li>
              <li><a class="dropdown-item" data-value="NM">(NM) New Mexico</a></li>
              <li><a class="dropdown-item" data-value="NY">(NY) New York</a></li>          
              <li><a class="dropdown-item"  data-value="NC">(NC) North Carolina</a></li>
              <li><a class="dropdown-item"  data-value="ND">(ND) North Dakota</a></li>
              <li><a class="dropdown-item"  data-value="OH">(OH) Ohio</a></li>
              <li><a class="dropdown-item"  data-value="OK">(OK) Oklahoma</a></li>
              <li><a class="dropdown-item"  data-value="OR">(OR) Oregon</a></li>
              <li><a class="dropdown-item"  data-value="PA">(PA) Pennsylvania</a></li>
              <li><a class="dropdown-item"  data-value="RI">(RI) Rhode Island</a></li>
              <li><a class="dropdown-item"  data-value="SC">(SC) South Carolina</a></li>
              <li><a class="dropdown-item"  data-value="SD">(SD) South Dakota</a></li>
              <li><a class="dropdown-item"  data-value="TN">(TN) Tennessee</a></li>
              <li><a class="dropdown-item"  data-value="TX">(TX) Texas</a></li>
              <li><a class="dropdown-item"  data-value="UT">(UT) Utah</a></li>
              <li><a class="dropdown-item"  data-value="VT">(VT) Vermont</a></li>
              <li><a class="dropdown-item"  data-value="VA">(VA) Virginia</a></li>
              <li><a class="dropdown-item"  data-value="WA">(WA) Washington</a></li>
              <li><a class="dropdown-item"  data-value="WV">(WV) West Virginia</a></li>
              <li><a class="dropdown-item"  data-value="WI">(WI) Wisconsin</a></li>
              <li><a class="dropdown-item"  data-value="WY">(WY) Wyoming</a></li>
            </ul>
          </div>
          <br>
          <label for="cityInput">City</label>
          <input
            type="text"
            class="form-control"
            id="cityInput"
            placeholder="Enter City Name"
          />
        </div>
        <a href="resources.html" class="btn btn-primary mt-3">Submit</a>
      </form>
    </div> 
    <script type="text/javascript" src="../static/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>


