<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <style>
        body {
          background-color: #e0e0e0;
        }
      </style>
    <title>Street Assist</title>
  </head>
  <body>
    <div class="container my-5">
      <h1 class="text-center">Street Assist</h1>
      <form>
        <div class="form-group">
          <label for="zipCode">Zip Code</label>
          <input
            type="text"
            class="form-control"
            id="zipCode"
            placeholder="Enter Zip Code"
          />
        </div>
        <a href="resources.html" class="btn btn-primary mt-3">Submit</a>
      </form>
    </div> 
  </body>
</html>
